# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
.cursor

# Optional: lock files (nếu team không dùng chung)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
